<script src="/js/components/members-component.js"></script>

<div id="members-container" class="members-card">
    <h3 class="members-title">Group Members</h3>
    
    <div data-group-id="<%= groupId %>" id="members-list-wrapper">
        <% if (members.length === 0) { %>
            <p class="no-members">No members yet.</p>
        <% } else { %>
            <ul id="member-list" class="members-list">
                <% members.forEach(member => { %>
                    <li 
                        class="member-item"
                        data-member-id="<%= member.id %>"
                        data-user-id="<%= member.user.id %>"
                        data-username="<%= member.user.username %>"
                        data-is-admin="<%= member.isAdmin %>"
                        data-email="<%= member.user.emailAddress %>"
                        data-phone="<%= member.user.phoneNumber || 'N/A' %>"
                        data-bio="<%= member.user.bio || 'No bio provided.' %>"
                        data-first-name="<%= member.user.firstName || '' %>"
                        data-last-name="<%= member.user.lastName || '' %>"
                    >
                        <span class="member-name"><%= member.user.username %></span>
                        <% if (member.isAdmin) { %>
                            <span class="member-badge admin">Admin</span>
                        <% } else { %>
                            <span class="member-badge member">Member</span>
                        <% } %>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </div>
</div>

<!-- Member Detail Modal (keep your existing modal code here) -->