<div class="members-card" id="members-card">
    
    <% if (members.length === 0) { %>
        <p class="no-members">No members yet.</p>
    <% } else { %>
        <ul class="members-list" id="members-list">
            <% members.forEach(member => { %>
                <li class="member-item" 
                    data-member-id="<%= member.id %>"
                    data-user-id="<%= member.user.id %>"
                    data-username="<%= member.user.username %>"
                    data-is-admin="<%= member.isAdmin %>"
                    data-first-name="<%= member.user.firstName || '' %>"
                    data-last-name="<%= member.user.lastName || '' %>"
                    data-email="<%= member.user.emailAddress %>"
                    tabindex="0"
                    role="button">
                    
                    <div class="member-avatar">
                        <span class="avatar-initials">
                            <%= member.user.username.substring(0, 2).toUpperCase() %>
                        </span>
                    </div>
                    
                    <div class="member-info">
                        <span class="member-name"><%= member.user.username %></span>
                        <% if (member.isAdmin) { %>
                            <span class="member-badge admin">Admin</span>
                        <% } else { %>
                            <span class="member-badge member">Member</span>
                        <% } %>
                    </div>
                    
                    <span class="member-arrow">›</span>
                </li>
            <% }) %>
        </ul>
    <% } %>
    
</div>

<div id="member-detail-modal" class="modal hidden">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h3 id="member-modal-title">Member Details</h3>
            <button class="modal-close" type="button">&times;</button>
        </div>
        <div class="modal-body">
            <div class="member-details" id="member-details">
            </div>
        </div>
        <div class="modal-footer" id="member-modal-actions">
        </div>
    </div>
</div>

<script src="/components/members-component/members-component.js"></script>